.gradelanding-main {
  background-image: url("https://res.cloudinary.com/ddo1ag5nz/image/upload/v1621595518/banner-image_rw7lnc.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.banner-text {
  color: white;
}

/* #kid_video {
  max-width: auto;
  height: auto;
} */

#card-image-gradelanding{
  height: 70px;
  width: 70px;
}

.feature_card {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  right:0;
}

.feature_card_text {
  font-size: 18px !important;
  font-weight: 500;
}

.feature-card-heading {
  font-size: 25px !important;
}

.feature-card-container {
  padding: 60px 25px 60px 60px;
}

.card_image_logo {
  position:absolute;
  top: 10px;
  right: 10px;
  width: 30%;
}

.card-3 {
  background-color: #9ee6ad;
}

.card-2 {
  background-color: #d8f5de;
}

.card-1 {
  background-color: #f5fdf7 !important;
}

.card-same {
  background-color: #f4f7fa !important;
}

.input {
  background-color: #eeeeee;
}

.form-check-input {
  background-color: #eeeeee;
}

.text-area {
  background-color: #eeeeee;
  height: 20vh;
}

.submit-btn {
  background-color: #54e346;
  color: white;
}

.contact-form-container {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-map {
  padding: 5px;
}

.contact-form {
  padding-left: 80px !important;
  padding-right: 35px !important;
  padding-top: 25px !important;
}

@media all and (max-width: 576px) {
  .contact-form {
    padding-left: 40px !important; 
    padding-right: 40px !important;
    padding-top: 40px !important;
  }
}


.grade-options {
  margin: '5px 0';
}

.quizwizz-img {
  position: absolute;
  top: -48px;
  right: -25px;
}

.quizwizz-link-img {
  position: relative;
  left: 64px;
  bottom: -5px;
}

#navLink-quizwizz {
  color: #fff;
  position: relative;
  bottom: 18px;
  font-weight: 500;
}

.quizwizz-popup-heading {
  font-size: 30px;
}

.quizwizz-popup-text {
  font-size: 1rem;
}

.popup-quizwizz {
  margin: 50px auto auto;
  padding: 10px 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  color: black;
}

.popup-quizwizz .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.popup-quizwizz .close:hover {
  color: #06D85F;
}
.popup-quizwizz .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup-quizwizz{
    width: 70%;
  }
}

.overlay-quizwizz {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay-quizwizz:target {
  visibility: visible;
  opacity: 1;
}

.btn-read-more {
  margin: 10px auto 70px auto
}

.section-2-column {
  padding-left: 0px;
}

p{
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Roboto", sans-serif;
}

.banner-img-contact-us {
  background-image: url('https://res.cloudinary.com/ddo1ag5nz/image/upload/v1625558950/banner-image_rw7lnc_hgazsj.jpg');
  background-size: cover;
  height: 35vh;
  background-position: center;
  margin-top: 100px;
}

/* background: linear-gradient(to left, #a9afbe, #e2e4ea); form-background */
.contact-us-card-form {
  /* background: linear-gradient(to left, #a9afbe, #f9f9f9); */
  background: linear-gradient(to left, #b7bdcd, #f9f9f9);
  border-radius: 30px !important;
}

.contact-us-card-form .card-content {
  border-radius: 30px;
}

.blob-container{
  /* background-image: url("https://res.cloudinary.com/ddo1ag5nz/image/upload/v1626160479/home-page/banner_mggspd.png");
  background-repeat: no-repeat; */
  width:700px;
  height:700px;
  position: relative;
  top: -43px;
  right: 167px;
}

#main-background-img {
  height: 500px;
  width: 600px;
  left: 40px;
  top: 34px;
  position: relative;
}

.blob1{
  width:700px;
  height:700px;
  border:2px solid #373753;
  border-radius: 58% 42% 48% 53% / 47% 60% 36% 53%;
  /* width:100%;
  height:100%; */
  content:'';
  position:absolute;
  left:0; top:0;
  animation: rotateBlobs 12s linear infinite;
  /* background-image: url("https://res.cloudinary.com/ddo1ag5nz/image/upload/v1626159756/home-page/chat_jlqgup.png");
  background-repeat: no-repeat;
  background-position: 0% 0%; */
}

.blob2{
  width:700px;
  height:700px;
  border:2px solid #373753;
  border-radius: 48% 42% 48% 53% / 47% 60% 36% 53%;
  /* width:100%;
  height:100%; */
  /* background: rgba(244, 166, 166, 0.1); */
  background: transparent;
  content:'';
  position:absolute;
  left:0; top:0;
  animation: rotateBlobs 16s linear infinite;
  /* background-image: url("https://res.cloudinary.com/ddo1ag5nz/image/upload/v1626159756/home-page/book_razn94.png"); */
}

.science {
  z-index: 10;
  top: 55px;
  position: absolute;
  right: 99px;
  height: 65px;
  width: 65px;
}

.bulb {
  position: absolute;
  top: 388px;
  right: 651px;
  z-index: 10;
  height: 80px;
  width: 80px;
}

.book {
  position: absolute;
  left: 54px;
  top: 90px;
  z-index: 10;
  height: 70px;
  width: 70px;
}

.graduation {
  position: absolute;
  bottom: 203px;
  right: -23px;
  height: 80px;
}

/* .science {
  z-index: 10;
  top: 260px;
  position: absolute;
  right: -16px;
  height: 65px;
  width: 65px;
}

.bulb {
  position: absolute;
  top: 297px;
  right: 651px;
  z-index: 10;
  height: 80px;
  width: 80px;
}

.book {
  position: absolute;
  left: 277px;
  top: -25px;
  z-index: 10;
  height: 70px;
  width: 70px;
}

.graduation {
  position: absolute;
  bottom: -45px;
  right: 321px;
  height: 80px;
} */


@keyframes rotateBlobs{
  0%{
    transform:rotate(0deg);
    /* border-color:#EC0D0D; */
  }
  50%{
    /* border-color:#f4c01c; */
  }
  100%{
    transform:rotate(360deg);
    /* border-color:#EC0D0D; */
  }
}


@media screen and (max-width: 990px) {
  .blob-container {
    height: 500px;
    right: 72px;
  }
  #main-background-img {
    left: 21px;
  }
  .graduation {
    bottom: 11px;
    right: -31px;
  }
}

@media screen and (max-width: 550px) {
  .blob-container {
    height: 450px;
  }
  #main-background-img {
    left: 70px;
    height: 430px;
    width: 500px;
    top: 59px;
  }
  .blob1 {
    width: 500px;
    height: 500px;
    left: 82px;
    top: 36px;
  }
  .blob2 {
    width: 500px;
    height: 500px;
    left: 82px;
    top: 36px;
  }
  .bulb {
    top: 352px;
    right: 554px;

  }
  .science {
    top: 70px;
    right: 166px;
  }
  .book {
    left: 98px;
  }
  .graduation {
    right: 95px;
  }
}

@media screen and (max-width: 450px) {
  .blob-container {
    right: 124px;
  }
  .blob1 {
    width: 400px;
    left: 120px;
  }
  .blob2 {
    width: 400px;
    left: 120px;
  }
  .science {
    top: 85px;
    right: 186px;
  }
  .graduation {
    right: 155px;
    bottom: 62px;
  }
  .book {
    left: 130px;
    top: 85px;
  }
  .bulb {
    top: 310px;
    right: 510px;
  }
}

@media screen and (max-width: 390px) {
  #main-background-img {
    height: 350px;
    left: 99px;
    width: 400px;
    top: 137px;
  }
  .blob1 {
    width: 450px;
    height: 450px;
    top: 70px;
  }
  .blob2 {
    width: 450px;
    height: 450px;
    top: 70px;
  }
  .bulb {
    right: 402px;
  }
  .graduation {
    right: 270px;
  }
}




