.quiztitlestyling
{
 font-size: 16px;
 font-weight: 400;
 line-height: 20px;
 color: #000;
 max-width: 134px;
 text-transform: uppercase;
}
.gradelanding-main {
  background-image: url("https://res.cloudinary.com/ddo1ag5nz/image/upload/v1621595518/banner-image_rw7lnc.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.navbar{
  position: relative
  /* background-image: url("../assets/image/Nav_background.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* width: 100%; */
  /* height: 125px!important;
  border-radius: 10px;
  border: 2px solid white; */
}
.banner-text {
  color: white;
}

/* #kid_video {
  max-width: auto;
  height: auto;
} */

#card-image-gradelanding{
  height: 70px;
  width: 70px;
}

.feature_card {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  right:0;
}

.feature_card_text {
  font-size: 18px !important;
  font-weight: 500;
}

.feature-card-heading {
  font-size: 25px !important;
}

.feature-card-container {
  padding: 60px 25px 60px 60px;
}

.card_image_logo {
  position:absolute;
  top: 10px;
  right: 10px;
  width: 30%;
}

.card-3 {
  background-color: #9ee6ad;
}

.card-2 {
  background-color: #d8f5de;
}

.card-1 {
  background-color: #f5fdf7 !important;
}

.card-same {
  background-color: #f4f7fa !important;
}

.input {
  background-color: #eeeeee;
}

.form-check-input {
  background-color: #eeeeee;
}

.text-area {
  background-color: #eeeeee;
  height: 20vh;
}

.submit-btn {
  background-color: #54e346;
  color: white;
}

.contact-form-container {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-map {
  padding: 5px;
  margin-right: 30px;
}

.contact-form {
  padding-left: 80px !important;
  padding-right: 35px !important;
  padding-top: 25px !important;
}

@media all and (max-width: 990px) {
  .contact-form {
    padding-left: 40px !important; 
    padding-right: 40px !important;
    padding-top: 40px !important;
  }
  .contact-map {
    padding: 15px;
    margin-right: 0;
  }
}


.grade-options {
  margin: '5px 0';
}

.quizwizz-img {
  position: absolute;
  top: -48px;
  right: -25px;
}

.quizwizz-link-img {
  position: relative;
  left: 64px;
  bottom: -5px;
}

#navLink-quizwizz {
  color: #fff;
  position: relative;
  bottom: 18px;
  font-weight: 500;
}

.quizwizz-popup-heading {
  font-size: 30px;
}

.quizwizz-popup-text {
  font-size: 1rem;
}

.popup-quizwizz {
  margin: 50px auto auto;
  padding: 10px 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  color: black;
}

.popup-quizwizz .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.popup-quizwizz .close:hover {
  color: #06D85F;
}
.popup-quizwizz .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup-quizwizz{
    width: 70%;
  }
}

.overlay-quizwizz {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay-quizwizz:target {
  visibility: visible;
  opacity: 1;
}

.btn-read-more {
  margin: 10px auto 70px auto
}

.section-2-column {
  padding-left: 0px;
}

p{
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Roboto", sans-serif;
}

.banner-img-contact-us {
  background-image: url('https://res.cloudinary.com/ddo1ag5nz/image/upload/v1625558950/banner-image_rw7lnc_hgazsj.jpg');
  background-size: cover;
  height: 35vh;
  background-position: center;
  margin-top: 100px;
}

/* background: linear-gradient(to left, #a9afbe, #e2e4ea); form-background */
.contact-us-card-form {
  /* background: linear-gradient(to left, #a9afbe, #f9f9f9); */
  background: linear-gradient(to left, #b7bdcd, #f9f9f9);
  border-radius: 30px !important;
}

.contact-us-card-form .card-content {
  border-radius: 30px;
}

.contact-us-form-checkbox {
  position: relative !important;
  top: 5px;
}

.blob-container{
  width:650px;
  height:650px;
  position:relative;
  top: -75px;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
}
.blob-container::before{
  border:2px solid #373753;
  border-radius: 58% 42% 48% 53% / 47% 60% 36% 53%;
  width:100%;
  height:100%;
  content:'';
  position:absolute;
  left:0; top:0;
  animation: rotateBlobs 16s linear infinite;
}

.blob-container::after{
  border:2px solid #373753;
  border-radius: 48% 42% 48% 53% / 47% 60% 36% 53%;
  width:100%;
  height:100%;
  background: transparent;
  content:'';
  z-index: 1;
  position:absolute;
  left:0; top:0;
  animation: rotateBlobs 6s linear infinite;
}

#main-background-img {
  height: 85%;
}


#roller-bnr {
  overflow: hidden;
  height: 100vh;
}

.science {
  width: 10%;
  z-index: 10;
  top: 40px;
  position: absolute;
  right: 65px;
  /* -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate; */
}

.bulb {
  width: 12%;
  position: absolute;
  bottom: 181px;
  left: -14px;
  z-index: 10;
  /* -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate; */
}

.book {
  width: 10%;
  position: absolute;
  left: 85px;
  top: 55px;
  z-index: 10;
  /* -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate; */
}

.graduation {
  width: 12%;
  position: absolute;
  bottom: 170px;
  right: -16px;
  /* -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate; */
}

.section-2-heading-phone {
  display: none;
}

.section-margins {
  margin-bottom: 50px;
}

.index-first-content-section {
  margin-top: 50px;
}

@media screen and (max-width: 990px) {
  .blob-container {
    width: 500px;
    height: 500px;
    top: 0px;
  }
  #roller-bnr {
    height: auto;
  }
  .book {
    left: 55px;
  }
  .bulb {
    left: -23px;
  }
  .graduation {
    right: -22px;
  }
  #main-background-img {
    position: relative;
    top: 23px;
  }
} 

@media screen and (max-width: 550px) {
  .blob-container {
    width: 300px;
    height: 300px;
  }
  .science {
    width: 13%;
    right: 15px;
  }
  .book {
    left: 0px;
    width: 13%;
  }
  .bulb {
    width: 16%;
    bottom: 74px;
    left: -17px;
  }
  .graduation {
    width: 16%;
    bottom: 68px;
    right: -11px;
  }
}


 @keyframes rotateBlobs{
  0%{
    transform:rotate(0deg);
  }
  50%{
  }
  100%{
    transform:rotate(360deg);
  } 
} 

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

#pTag-correction-why-rankpedia {
  margin-bottom: 0px !important;
}

#why-rankpedia-div-correction {
  padding-bottom: 0 !important;
}

#dftr-dftrs {
  margin-top: 8rem !important;
}

#why-rankpedia-h3-correction {
  margin-top: 5rem !important;
}

.grade-landing-subject-card {
  height: 330px;
}

#curriculum-img {
  width: 170px;
}

.study-material-heading {
  text-align: right;
}

@media screen and (max-width: 990px) {
  .sugtrd-hgts{
    height: auto !important;
    margin-bottom: 10px;
  }
  .study-material-heading {
    text-align: center;
  }
  .why-rankpedia-exp-edu-text {
    margin-top: 15px;
  }
}

.expertly-curated-class {
  display: flex;
  justify-content: center;
}

.why-rankpedia-first-heading {
  font-size: 32px !important;
  line-height: 1.5 !important;
  font-weight: 700 !important;
}

.form-input-value{
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0.75rem 0.9375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.88;
    color: gray;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 0.3125rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.connectButton{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;;
  padding: 2vh 2vw;
  width: 50%;
  z-index: 20;
  max-height: 100vh;
  position: fixed;
  top: 23vh;
  left: 30vw;
  overflow-y: hidden;
  text-align: center;
  max-width: 400px;
}
.container-header-title{
  height: 20px;
  width: 100%;
  display: flex;
}
.title-container{
  
  height: 18px;
  width: 75%;
  text-align: center;
  color: black;
}
.inner-header{
  height: 100%;
  width: 100%;
  color: black;
  position: relative;
}
.inner-button{
  float: left;
  height: 25px;
  width: 13%;
  color: #ff0000;
  font-weight: bolder;
  border: 1px solid black;
  padding: 0px;
  margin-left: 20px;
  cursor: pointer;
}
.modalWindow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  padding: 2vh 2vw;
  width: 60%;
  z-index: 10;
  max-height: 80vh;
  position: fixed;
  top: 10vh;
  left: 20vw;
  overflow-y: scroll;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .connectButton{
    width: 90%;
    left: 5vw;
  }
  .h3.btn-red{
    width: 60%;
    margin: 0px 0px 0px 200px;
    
  }
}


@media screen and (max-width: 600px) {
  .why-rankpedia-exp-edu-text {
    margin-top: 30px;
  }
  #why-rankpedia-para-margin {
    margin-bottom: 15px !important;
  }
  #why-rankpedia-para-margin1 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  #why-rankpedia-para-heading {
    margin-top: 30px !important;
  }
  #jyjn-jbnvgrd {
    padding-top: 0 !important;
    padding-bottom: 25px !important;
  }
  #esdtr-difg {
    margin-top: 25px !important;
  }
  .modalWindow{
    width: 90%;
    left: 5vw;
  }
  .connectButton{
    width: 90%;
    left: 5vw;
  }
  
}

@media screen and (max-width: 768px) {
  .section-2-heading-phone {
    display: inline-block;
  }
  .section-2-heading-desktop {
    display: none;
  }
  .section-margins {
    margin-bottom: 25px;
  }
  .index-first-content-section {
    margin-top: 25px;
  }
}


.backdrops {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}



.modalWindow h2{
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.modalWindow p{
  text-align: justify;
}

.modalWindow::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.modalWindow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.modalWindow::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
.modalWindow::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.modalWindow::-webkit-scrollbar-thumb::selection {
  background: grey; 
}


